.iframe-wrapper{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    left: 0;
    right: 0;
    bottom: 0;
    top: 44;
    width: 100%
}

.main-container{
    -webkit-overflow-scrolling: touch;
}